<% if flash[:form_error] %>
  <% flash[:form_error].each do |type, error_msg| %>
    <p><%= error_msg %></p>
  <% end %>
<% end %>

<%= form_with model: @employee do |f| %>
    <p>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    </p>

     <p>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    </p>

    <p>
        <%= f.label :alias %>
        <%= f.text_field :alias %>
    </p>

    <p>
        <%= f.label :office %>
        <%= f.text_field :office %>
    </p>

    <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :dog %>
        <%= f.collection_select :dog_id, Dog.all, :id, :name %>
    </p>

    <p>
        <%= f.label :img_url %>
        <%= f.text_field :img_url %>
    </p>
   
    <%= f.submit %>

<% end %>