<img src="<%=@employee.img_url %>">

<h1>Employee: <%= @employee.first_name %> <%= @employee.last_name %></h1>

<p>alias: <%= @employee.alias %></p>
<p>title: <%= @employee.title %></p>
<p>title: <%= @employee.office %></p>




