<h1> Employee SHOW PAGE </h1>


<p><%= @employee.first_name %></p>
<p><%= @employee.last_name %></p>
<p><%= @employee.alias %></p>
<p><%= @employee.title %></p>
<p><%= @employee.office %></p>


<p><%= image_tag @employee.img_url %></p>
<%= button_to "DELETE", employee_path(@employee), method: :delete %>

<%= %>
<%= %>