<% if flash[:my_errors] %>
  <% flash[:my_errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_with model: @dog do |f| %>
    <p><%= f.label :name %>
       <%= f.text_field :name %></p>

    <p><%= f.label :breed %>
       <%= f.text_field :breed %></p>

    <p><%= f.label :age %>
       <%= f.text_field :age %></p>

    <%= f.submit "Submit" %>
<% end %> 